@{
	ViewData["Title"] = "Successful Students";
}
<div class="text-center b mt-lg-4 ">
	<h3>عدد الطلاب الناجحين هم <span class="text-success">@ViewBag.NumberOfSuccesfulStudents</span> طالب بنسبة نجاح <span class="text-success">@ViewBag.SuccessRate%</span>.</h3>
	<a asp-action="Index" class="btn btn-primary mt-3 align-content-start justify-content-start">العوده الي الرئيسيه</a>
</div>
