@{
	ViewData["Title"] = "Second Round Students";
}
<div class="text-center b mt-lg-4 ">
	<h3>عدد طلاب الدور الثان هم <span class="text-danger">@ViewBag.NumberOfSecondRoundStudent</span> طالب بنسبة  <span class="text-danger">@ViewBag.SecondRoundRate%</span>.</h3>
	<a asp-action="Index" class="btn btn-primary mt-3 align-content-start justify-content-start">العوده الي الرئيسيه</a>
</div>

