@{
	ViewData["Title"] = "Failed Students";
}
<div class="text-center b mt-lg-4 ">
	<h3>عدد الطلاب  الراسبين هم <span class="text-danger">@ViewBag.NumberOfFailedStudent</span> طالب بنسبة رسوب  <span class="text-danger">@ViewBag.FailedRate%</span>.</h3>
	<a asp-action="Index" class="btn btn-primary mt-3 align-content-start justify-content-start">العوده الي الرئيسيه</a>
</div>

